/*
__/__/__/__/__/__/__/__/__/__/
__/ base.css
__/__/__/__/__/__/__/__/__/__/

アプリ内のページ共通なCSSを定義する。

*/

html,
body {
  height: 100%;
  background-image: url("blooming.gif");
  
  
}


#license a.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*
__/__/__/__/__/__/__/__/__/__/
__/ tutorial.css
__/__/__/__/__/__/__/__/__/__/

チュートリアル用のCSSを定義する。

*/

.step-done {
	margin-top: 20px;
}

